body {
    background-color: white;
}



article {
    width: 600px;
    margin: auto;
}

.title-doc {
    font-size: 2.2em;
    text-align: center;
}


p {
    font-family: sans-serif;
    line-height: 1.6em;
    font-size: 1.2em;
    color: grey;
    margin-bottom: 2.6em;
}

span, time {
    margin-right: 1em;
    font-family: sans-serif;
    color: grey;
    font-weight: bold;
}

h1 {
    color: grey;
}
